.row > div > div{
    height: 2rem;
    margin: 0.5rem;
}
.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.grew{
    background-color: grey;
}

